
<h1><%= title %></h1>

<form method="POST" action="">
	<div class="form-group">
		<label for="name">Name: </label>
		<input id="name" class="form-control" name="name" type="text" required="true" placeholder="Category name" value="<%= typeof name != 'undefined' ? name : '' %>" />
	</div>
	<button class="btn btn-primary" type="submit">Submit</button>
</form>

<% if(typeof errors != 'undefined') { %>
	<% errors.forEach(function(error) { %>
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<%= error.msg %>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	<% }); %>
<% } %>