
<h1><%= title %></h1>

<form method="POST" action="">
	<div class="form-group">
		<label for="copy">Please confirm your decision.</label>
		<input type="hidden" value="<%= copy._id %>" name="copyId">
	</div>
	<button type="submit" class="btn btn-primary">Return</button>
</form>