
<h1 class="text-center"><%= title %></h1>

<p>Id: <%= copy._id %></p>

<p class="font-weight-bold">Are you sure you want to delete this copy?</p>

<form method="POST" action="">
	<input type="hidden" name="copyId" value="<%= copy._id %>">
	<button class="btn btn-primary" type="submit">Delete</button>
</form>

