
<h1><%= user.name %>'s Picture!</h1>

<form method="POST" action="">
	<div class="form-group">
		<div style="max-width:50%;margin-left:auto;margin-right:auto">
			<label for="image">Your profile picture:</label>
			<input id="image" name="image" class="form-control filepond" type="file">
		</div>
	</div>
	<button class="btn btn-primary" type="submit">Change</button>
</form>